<div class="modal-backdrop">
  <div class="modal" [ngClass]="{'modal-dark-mode': darkMode}">
    <div class="title-close-icon-container">
        <h2 class="modal-title" [ngClass]="{'text-dark-mode': darkMode}">Edit event</h2>
        <i class='bx  bx-x' [ngClass]="{'text-dark-mode': darkMode}" (click)="onCancel()"></i> 
    </div>
    <div class="form-container">
        <p *ngIf="apiError" class="error-msg">{{apiErrorMessage}}</p>
        <form [formGroup]="eventForm">
            <div class="input-label-container">
                <input type="text" formControlName="title">
                <p class="error-msg" *ngIf="formSubmitted && eventForm.get('title')?.hasError('required')">
                    Title is required
                </p>
            </div>
            <div class="input-label-container">
                <input type="text" formControlName="description">
            </div>
            <div class="input-label-container">
                <p [ngClass]="{'label-dark-mode': darkMode}">Start time</p>
                <input type="datetime-local" formControlName="start_time">
                <p class="error-msg" *ngIf="formSubmitted && eventForm.hasError('notSameDay')">
                  Start and end time must be on the same day
                </p>
                <p class="error-msg" *ngIf="formSubmitted && eventForm.hasError('startAfterEnd')">
                    Start time must be before end time
                </p>
            </div>
            <div class="input-label-container">
                <p [ngClass]="{'label-dark-mode': darkMode}">End time</p>
                <input type="datetime-local" formControlName="end_time" />
            </div>
        </form>
    </div>
    <div class="modal-actions">
        <ng-container *ngIf="isLoading">
            <app-loading-spinner
                [isSpinnerActive]="isLoading"

            ></app-loading-spinner>
        </ng-container>
        <button (click)="onDeleteEvent()" class="form-btn delete-btn" *ngIf="!isLoading">Delete</button>
        <button (click)="onEditEvent()" class="form-btn" *ngIf="!isLoading">Save</button>
    </div>
  </div>
</div>