<div class="calendar-dashboard-container">
    <ng-container *ngIf="!isFetchingEvents">
        <div class="calendar-dashboard-left-column">
            <app-user-actions
                (eventCreated)="onEventCreated($event)"
            ></app-user-actions>
            <!-- month calendar can change selected day but receive it (angular two way binding) -->
            <app-month-calendar
                [events]="events"
                (daySelected)="onDaySelected($event)"
                [selectedDay]="selectedDay"
            >
            ></app-month-calendar>
            <app-upcoming-events-weather
                [events]="events"
            ></app-upcoming-events-weather>
        </div>
        <app-week-calendar
            [events]="events"
            [selectedDay]="selectedDay">
        ></app-week-calendar>
    </ng-container>
    <ng-container>

    </ng-container>
    <div class="spinner-container" *ngIf="isFetchingEvents">
        <app-loading-spinner
            [isSpinnerActive]="isFetchingEvents"
            [spinnerWidth]="spinnerWidth"
            [spinnerHeight]="spinnerHeight"
        ></app-loading-spinner>
    </div>
</div>
