.calendar-dashboard-container {
    width: 80%;
    height: 70vh;
    margin: 35px auto;
    display: flex;
}

.calendar-dashboard-left-column {
    width: 25%;
    background-color: var(--black);
}

.spinner-container {
    width: 100%;
}

