<div class="modal-backdrop">
  <div class="modal">
    <div class="title-close-icon-container">
        <h2 class="modal-title">Edit settings</h2>
        <i class='bx  bx-x' (click)="onCancel()"></i> 
    </div>
    <div class="form-container">
        <form [formGroup]="form" (ngSubmit)="onUpdateSettings()" class="modal-form">

        <div class="edit-input-label-container">
            <label>Language</label>
            <select formControlName="language">
                <option *ngFor="let lang of languages" [value]="lang.value">
                {{ lang.label }}
                </option>
            </select>
        </div>

        <div class="edit-input-label-container">
            <label>Timezone</label>
            <select formControlName="timezone">
                <option *ngFor="let tz of timezones" [value]="tz.value">
                {{ tz.label }}
                </option>
            </select>
        </div>

        <div class="edit-input-label-container">
            <label>Location</label>
            <select formControlName="location">
                <option *ngFor="let loc of locations" [value]="loc.value">
                {{ loc.label }}
                </option>
            </select>
        </div>

        <div class="edit-input-label-container dark-mode-container toggle-container">
            <label>Dark mode</label>
            <label class="switch">
                <input type="checkbox" id="dark_mode" formControlName="dark_mode">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="actions">
            <button type="button" class="form-btn cancel-btn" (click)="onCancel()">Cancelar</button>
            <button type="submit" class="form-btn">Guardar</button>
        </div>

        </form>
    </div>
    <div class="modal-actions">
        <ng-container *ngIf="isLoading">
            <app-loading-spinner
                [isSpinnerActive]="isLoading"

            ></app-loading-spinner>
        </ng-container>
    </div>
  </div>
</div>
