<div class="calendar-container">
    <div class="calendar-header">
        <span class="month">{{ monthName }}</span>
        <span class="year">{{ yearLabel }}</span>
        <div class="left-right-buttons-container">
            <i class='bx  bx-caret-left arrow' (click)="prevMonth()"></i> 
            <i class='bx  bx-caret-right arrow' (click)="nextMonth()"></i> 
        </div>
    </div>
    <div class="calendar-grid">
        <div
            *ngFor="let day of days"
            [class.outside]="day.getMonth() !== currentDate.getMonth()"
        >
        {{ day.getDate() }}
    </div>
</div>
</div>
