<div class="calendar-container">
    <div class="calendar-header">
        <span class="month">{{ monthName }}</span>
        <span class="year">{{ yearLabel }}</span>
        <div class="left-right-buttons-container">
            <i class='bx  bx-caret-left arrow' (click)="prevMonth()"></i> 
            <i class='bx  bx-caret-right arrow' (click)="nextMonth()"></i> 
        </div>
    </div>
    <div class="calendar-grid">
        <div
            *ngFor="let day of days"
            class="day-container"
            [ngClass]="{'selected': selectedDay.toDateString() === day.toDateString(), 'outside': day.getMonth() !== currentDate.getMonth()}"
            [class.selected]="selectedDay.toDateString() === day.toDateString()"
            [class.outside]="day.getMonth() !== currentDate.getMonth()"
            (click)="selectDay(day)"
        >
        <p class="day-number">{{ day.getDate() }}</p>
        <span *ngIf="hasEvents(day)" class="dot" [ngClass]="{'selected-dot': selectedDay.toDateString() === day.toDateString()}"></span>
    </div>
</div>
</div>
