<div class="weekly-grid">
  <div class="time-column">
    <div class="time-column-header"></div> 
    <div *ngFor="let hour of hours" class="hour-label">
        <span>{{ hour }}</span>
    </div>
  </div>

  <div class="day-columns">
    <div *ngFor="let day of weekDays" class="day-column">
     <div class="day-header" [ngClass]="{ 'selected-day': isSelectedDay(day, selectedDay) }">
        <p class="day-name">{{ day | date: 'EEE' }}</p>
        <p class="day-number">{{ day.getDate() }}</p>
      </div>
      <div class="day-body" [ngClass]="{ 'selected-day': isSelectedDay(day, selectedDay) }">
        <div *ngFor="let h of hours" class="hour-slot"></div>
        <app-week-event-card
            *ngFor="let event of getPositionedEventsForDay(day)"
            [event]="event"
            [style.top.%]="getEventTopOffset(event)"
            [style.height.%]="getEventHeight(event)"
            [style.left.%]="event.overlap ? (event.position === 'left' ? 0 : 50) : 0"
            [style.width.%]="event.overlap ? 50 : 100">
        </app-week-event-card>
      </div>
    </div>
  </div>
</div>