
.weather-sidebar {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  height: 55%;
  overflow-y: auto;
}

.day-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px 0;
}

.day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-info {
  display: flex;
  flex-direction: column;
}

.day-label {
  font-weight: bold;
  font-size: 14px;
  color: var(--white);
}

.date-label {
  font-size: 12px;
  color: #cccccc;
}

.weather-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.temp {
  font-size: 13px;
  font-weight: 500;
}

.event-s-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.event-item {
  display: flex;
  gap: 6px;
  margin-top: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: var(--selected);
  border-radius: 50%;
  margin-top: 6px;
  flex-shrink: 0;
}

.event-details {
  display: flex;
  flex-direction: column;
}

.event-time {
  font-size: 12px;
  color: #aaa;
}

.event-title {
  font-size: 13px;
  font-weight: 500;
}

.no-events {
  font-size: 13px;
  color: #888;
  font-style: italic;
}

.weather-src {
  width: 30px;
  height: 30px;
}

.selected-day {
  color: #50bfff;
}

.weather-sidebar::-webkit-scrollbar {
  width: 8px;
}

.weather-sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.weather-sidebar::-webkit-scrollbar-thumb {
  background-color: var(--selected);
  border-radius: 10px;
}

.weather-sidebar::-webkit-scrollbar-thumb:hover {
  background-color: var(--selected);
}