:root {
    --red: rgba(231, 22, 22, 0.966);
    --background: rgb(122, 121, 209);
    --white: #ffff;
    --black: #1E1E21ff;
    --light-red: rgb(253, 54, 54);
    --selected: rgb(42, 148, 247);
}

* {
    font-family: "Asap Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

.input-label-container {
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-label-container input {
    width: 70%;
    border-radius: 5px;
    border: 0;
    outline: 0;
    border: 1px solid #cfcfcf;
    padding: 15px 5px;
}

.form-btn {
    width: 74%;
    padding: 10px 5px;
    margin: 0 auto;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: var(--background);
    font-size: 16px;
    color: var(--white);
    letter-spacing: 2px;
    cursor: pointer;
}

.error-msg {
    color: var(--red);
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modal-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.title-close-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bx-x {
    font-size: 22px;
    cursor: pointer;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background-color: var(--red)!important;
}

.input-label-container {
    text-align: left;
}

.form-container {
    padding: 10px 0;
}

.cancel-btn {
    background-color: #bfbfbf;
}